/*
** Widgets
*/
aside h2 {
  margin-bottom: 0;
  line-height: 1;
}

aside > * + *, .page_footer .widget + .widget, .widget-theme-wrapper + .widget-theme-wrapper, .widget + .widget-theme-wrapper, .widget-theme-wrapper + .widget  {
  margin-top: 60px;
  @media(max-width: 575px){
    margin-top: 40px;
  }
}

.with-search-icon, .with-mail-icon{
  position: relative;
  overflow: hidden;
  & > div{
    position: relative;
    z-index: 2;
  }
  &:after{
    content: '\f002';
    font-family: "FontAwesome", sans-serif;
    position: absolute;
    top: -75px;
    right: -17px;
    font-size: 130px;
    z-index: 1;
  }
  &.ls.ms{
    color:darken($greyColor, 10%);
  }
  &.cs{
    color:darken($colorMain, 10%);
  }
}

.with-mail-icon{
  &:after{
    content: '\f0e0';
  }
}

.widget {
  position: relative;
  & > h3,
  .widget-title {
    @include widget-title();
  }
&.widget_icons_list{
  .media + .media{
    margin-top: 20px;
  }
}
  //for shortcodes demo
  & > h2:last-child {
    line-height: 1;
  }

  //our custom widgets with bootstrap .media element
  li.media {
    margin-bottom: 0;

    img {
      max-width: 100px;
      height: 100px;
    }
    h3, h4 {

      font-size: 20px;

      line-height: 1;
      margin-bottom: 0.5em;
      text-transform: none;
      margin-top: 0.4em;
      letter-spacing: 0;
      @media(max-width: 768px){
        margin-top: 0.2em;
        margin-bottom: 0.2em;
      }
    }
    p {
      font-size: 16px;
      color: $fontColor;
      margin-top: 0;
      i{
        margin-right: 10px;
        font-size: 16px;
        color: $fontColor;
      }
      span{

        @media(max-width: 768px){
          padding: 0;
        }
      }
    }
    .media-body{
      margin-left: 21px;
      padding-right: 26px;
      .item-media{
        font-weight: 500;
      }
    }
  }
  .only_title{
    li.media{
      &:first-child{
        .media-body{
          h6{
            margin-top: 0;
          }
        }

      }
      .media-body{
        margin-left: 0;
        h6{
          margin: 10px 0;
          padding-left: 20px;
          font-weight: 500;
          font-size: 16px;
          position: relative;
          &:before{
            content: '\f054';
            font-family: 'FontAwesome';
            color: $colorMain;
            font-weight: 600;
            font-size: 14px;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }

  .page_footer & {


     h3, .widget-title {
      margin-bottom: 30px;
      font-size: 24px;
       text-transform: capitalize;
       color: $colorMain;
       @media(max-width: 768px){
         margin-bottom: 1.5em;
       }
    }
  }
}



.widget-title.next-image-background {
  position: relative;
  z-index: 2;
  & + img {
    position: absolute;
    left: 0;
    top: -15px;
    opacity: 0.5;
  }
  .text-center & + img {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media(max-width: 991px) {
  aside {
    margin: 60px auto 0;
    max-width: 370px;
  }
}

/* affix-aside */
.affix-aside {
  position: relative;
  &.affix {
    position: fixed;
    //oriented header height
    top: 100px;
  }
  &.affix-bottom {
    position: absolute !important;
  }
  &.affix-top {
    width: inherit !important;
    left: auto !important;
  }

  @media(max-width: 991px) {
    &,
    &.affix-top,
    &.affix,
    &.affix-bottom {
      position: static !important;
      width: 100% !important;
    }
  }
}

//p.stars removed
.stars {
  & > span {
    display: flex;
  }

  a {
    position: relative;
    width: 1em;
    color: transparent;
    text-indent: -999em;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 1em;
      height: 1em;
      line-height: 1;
      text-indent: 0;
       font-family: 'FontAwesome';
      font-weight: 900;
      font-size: 14px;
    }
    &:before,
    &:hover ~ a:before {
      color: $fontColor;
      content: "\f005"
    }
  }
  &.selected a.active:before,
  &:hover a:before {
    content: "\f005";
    color: $colorMain;
    opacity: 1;
  }
  &.selected {
    a.active ~ a:before {
      content: "\f005";
      color: $fontColor;
      opacity: .75
    }
    a:not(.active):before {
      content: "\f005";
      color: $colorMain;
      opacity: 1
    }
  }
}

.star-rating {
  overflow: hidden;
  position: relative;
  height: 0.7em;
  line-height: 1;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 4em;
  letter-spacing: 0.1em;
  text-indent: 0.1em;
  text-align: center;
  font-family: 'FontAwesome';
  color: $fontColor;

  &:before {
    font-family: 'FontAwesome';
    content: '\f006\f006\f006\f006\f006';
    float: left;
    top: 0;
    left: 0;
    position: absolute;

    font-size: 12px;
  }

  span {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;

    &:before {
      font-family: 'FontAwesome';
      content: '\f005\f005\f005\f005\f005';
      top: 0;
      position: absolute;
      left: 0;

      font-size: 12px;
    }

  }
}
select.form-control:not([size]):not([multiple]){
  height: auto;
}
.widget_portfolio{
  .vertical-item.content-absolute .item-content{
    top: 0;
    margin: 0;
    .links-wrap{
      margin-top: 0 !important;
    }
  }
}
@import 'widgets/search_mailchimp';
@import 'widgets/nav_cat_arch_meta_pages';
@import 'widgets/calendar';
@import 'widgets/rss';
@import 'widgets/tag_cloud';
@import 'widgets/flickr';
@import 'widgets/instagram';
@import 'widgets/access_press';
@import 'widgets/twitter';
@import 'widgets/post_slider';
@import 'widgets/post_tabs';
@import 'widgets/post_2cols';
