/*
** Shop
*/
.woocommerce:before,
.woocommerce:after {
	clear: both;
	content: "";
	display: block;
}

.woocommerce-breadcrumb,
.woocommerce-products-header {
	display: none;
}

.return-to-shop {
	margin-top: 30px;
}

.return-to-shop .wc-backward {
	white-space: nowrap;
}

.wc-proceed-to-checkout .wc-forward {
	white-space: nowrap;
}

.woocommerce-account h2 {
	display: none;
}

.woocommerce-notices-wrapper {
	width: 100%;
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	align-items: center;
	background-color: rgba(150, 150, 150, 0.05);
	border-left: 5px solid #5ebd39;
	color: #3a3736;
	display: flex;
	flex-wrap: wrap;
	font-weight: 500;
	justify-content: space-between;
	margin: 0 0 1.5em;
	min-height: 80px;
	padding: 5px 20px;
}

.woocommerce-error li,
.woocommerce-info li,
.woocommerce-message li {
	list-style-type: none;
}

@media (max-width: 768px) {
	.woocommerce-error,
	.woocommerce-info,
	.woocommerce-message {
		display: flex;
		flex-direction: column;
		min-height: 100px;
		text-align: center;
	}
}

.woocommerce-error .restore-item,
.woocommerce-error .showcoupon,
.woocommerce-info .restore-item,
.woocommerce-info .showcoupon,
.woocommerce-message .restore-item,
.woocommerce-message .showcoupon {
	border: 2px solid #5ebd39;
	border-radius: 0;
	color: #3a3736;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	min-width: 150px;
	padding: 10px 35px;
	text-align: center;
	text-transform: capitalize;
}

.woocommerce-error .restore-item:hover,
.woocommerce-error .showcoupon:hover,
.woocommerce-info .restore-item:hover,
.woocommerce-info .showcoupon:hover,
.woocommerce-message .restore-item:hover,
.woocommerce-message .showcoupon:hover {
	background-color: #5ebd39;
	color: #3a3736;
}

ul.woocommerce-error,
ul.woocommerce-info,
ul.woocommerce-message {
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30px !important;
}

.woocommerce-info {
	border-color: #006dcc;
}

.woocommerce-error {
	list-style-position: inside;
}

.woocommerce-result-count {
	color: #3a3736;
	display: inline-block;
	float: left;
	margin-bottom: 0;
}

.woocommerce-result-count + form {
	display: inline-block;
	margin: 0 20px;
	width: 40%;
}

@media (max-width: 1199px) and (min-width: 992px) {
	.woocommerce-result-count + form {
		width: 80%;
	}
}

@media (max-width: 768px) {
	.woocommerce-result-count + form {
		width: 100%;
	}
}

@media (min-width: 576px) {
	.woocommerce-result-count + form {
		float: right;
	}
}

.products-selection {
	align-items: center;
	background-color: #f5f5f5;
	display: flex;
	font-family: "Fira Sans Condensed", sans-serif;
	font-weight: 500;
	justify-content: space-between;
	margin-bottom: 40px;
	padding: 6px 40px;
}

@media (max-width: 1199px) and (min-width: 992px) {
	.products-selection {
		flex-direction: column;
		height: 150px;
		padding: 20px 40px;
	}
}

@media (max-width: 768px) {
	.products-selection {
		flex-direction: column;
		height: 150px;
		padding: 20px 40px;
	}
}

.products-selection .toggle_view {
	color: #3a3736;
	display: flex;
}

.products-selection .toggle_view a {
	color: #686665;
	margin-left: 10px;
}

.products-selection .toggle_view a:hover {
	color: #5ebd39;
}

.products-selection .toggle_view .active {
	color: #5ebd39;
}

.products {
	clear: both;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 -15px -30px !important;
	padding: 0;
}

.products .product {
	margin-bottom: 30px;
	padding: 0 15px;
	text-align: center;
	width: 100%;
}

.products .product .product-inner {
	background: #fff;
	box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
	height: 100%;
	position: relative;
}

.products .product .product-content {
	padding: 30px;
}

.products .product .product-button {
	margin-top: 20px;
}

.products .product .add_to_cart_button,
.products .product .wc-forward,
.products .product .product_type_grouped,
.products .product .product_type_external {
	background-color: #5ebd39;
	border: 2px solid #5ebd39;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 4px;
	min-width: 100px;
	padding: 10px 30px;
	text-align: center;
	text-transform: capitalize;
	white-space: nowrap;
}

.products .product .add_to_cart_button.add_to_cart_button.loading:after,
.products .product .wc-forward.add_to_cart_button.loading:after,
.products .product .product_type_grouped.add_to_cart_button.loading:after,
.products .product .product_type_external.add_to_cart_button.loading:after {
	animation: spin 4s infinite linear;
	content: "\f013";
	font-family: "FontAwesome";
}

.products .product .add_to_cart_button:hover,
.products .product .wc-forward:hover,
.products .product .product_type_grouped:hover,
.products .product .product_type_external:hover {
	background-color: transparent;
	color: #3a3736;
}

.products .product > a > img {
	width: 100%;
}

.products .product h2 {
	font-size: 24px;
	text-transform: capitalize;
}

.products .product .onsale {
	background-color: #5ebd39;
	color: #fff;
	font-size: 12px;
	left: -1px;
	line-height: 1;
	padding: 5px;
	position: absolute;
	top: -1px;
	z-index: 2;
}

.products .product .star-rating {
	margin: 10px auto;
}

.products.columns-1 .product {
	width: 100%;
}

@media (min-width: 768px) {
	.products.columns-1 .product .product-inner {
		align-items: center;
		display: flex;
	}

	.products.columns-1 .product .product-inner .product-img {
		flex-shrink: 1;
		max-width: 40%;
	}

	.products.columns-1 .product .product-inner .product-content {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		width: 100%;
	}
}

.products.columns-2 .product {
	width: 50%;
}

@media (max-width: 575px) {
	.products.columns-2 .product {
		width: 100%;
	}
}

.products.columns-3 .product {
	width: 33.33333%;
}

@media (max-width: 1200px) and (min-width: 576px) {
	.products.columns-3 .product {
		width: 50%;
	}
}

@media (max-width: 575px) {
	.products.columns-3 .product {
		width: 100%;
	}
}

.products.columns-4 {
	margin-left: -10px !important;
	margin-right: -10px !important;
}

.products.columns-4 .product {
	padding: 0 10px;
	width: 25%;
}

@media (max-width: 1200px) and (min-width: 992px) {
	.products.columns-4 .product {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.products.columns-4 .product {
		width: 50%;
	}
}

@media (max-width: 575px) {
	.products.columns-4 .product {
		width: 100%;
	}
}

.products.columns-5 {
	margin-left: -10px !important;
	margin-right: -10px !important;
}

.products.columns-5 .product {
	padding: 0 10px;
	width: 20%;
}

@media (max-width: 1200px) and (min-width: 992px) {
	.products.columns-5 .product {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.products.columns-5 .product {
		width: 50%;
	}
}

@media (max-width: 575px) {
	.products.columns-5 .product {
		width: 100%;
	}
}

.products.columns-6 {
	margin-left: -10px !important;
	margin-right: -10px !important;
}

.products.columns-6 .product {
	padding: 0 10px;
	width: 16.666667%;
}

@media (max-width: 1200px) and (min-width: 992px) {
	.products.columns-6 .product {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.products.columns-6 .product {
		width: 50%;
	}
}

@media (max-width: 575px) {
	.products.columns-6 .product {
		width: 100%;
	}
}

@media (max-width: 400px) {
	.products .product {
		width: 100% !important;
	}
}

h3#order_review_heading {
	margin-top: 0;
}

.woocommerce-additional-fields h3 {
	margin-top: 35px;
}

.amount {
	color: #5ebd39;
	font-size: 20px;
	font-weight: 300;
}

ins {
	text-decoration: none;
}

del .amount {
	color: #686665;
	font-weight: 300;
}

.woocommerce-orders-table__row .button,
.woocommerce-Message .button,
.woocommerce-message .button,
.woocommerce-orders-table__row [type="submit"],
.woocommerce-Message [type="submit"],
.woocommerce-message [type="submit"] {
	display: inline-block;
	margin-top: 0;
	padding: 10px 35px;
}

.woocommerce-Message .button,
.woocommerce-message .button,
.woocommerce-Message [type="submit"],
.woocommerce-message [type="submit"] {
	border: 2px solid #5ebd39;
	border-radius: 0;
	color: #3a3736;
	float: right;
	font-weight: 400;
	line-height: 1;
	min-width: 150px;
	text-align: center;
}

.woocommerce-Message .button:hover,
.woocommerce-message .button:hover,
.woocommerce-Message [type="submit"]:hover,
.woocommerce-message [type="submit"]:hover {
	background: #5ebd39;
	color: #3a3736;
}

.woocommerce-Address a.edit {
	background-color: transparent;
	border: 2px solid #5ebd39;
	border-radius: 0;
	color: #3a3736;
	display: inline-block;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 1.5em;
	min-width: 150px;
	padding: 10px 35px;
	text-align: center;
	white-space: nowrap;
}

.woocommerce-Address a.edit:hover {
	background-color: #5ebd39;
	color: #3a3736;
}

.woocommerce-ResetPassword .form-row:last-child {
	margin-bottom: 0;
}

.woocommerce-form-login {
	display: flex;
	flex-direction: column;
}

.woocommerce-form-login .form-row:nth-child(3) {
	margin-bottom: 0;
	order: 4;
}

.woocommerce-form-login .woocommerce-LostPassword {
	margin-bottom: 20px;
	text-align: left;
}

.woocommerce-EditAccountForm,
.woocommerce-MyAccount-content form,
.woocommerce-form-login,
.woocommerce-ResetPassword,
form.woocommerce-checkout {
	background-color: #fff;
	box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
	padding: 3.3rem 3.85rem 3.3rem;
}

.woocommerce-EditAccountForm p:last-child input[type="submit"],
.woocommerce-EditAccountForm p:last-child button[type="submit"],
.woocommerce-MyAccount-content form p:last-child input[type="submit"],
.woocommerce-MyAccount-content form p:last-child button[type="submit"],
.woocommerce-form-login p:last-child input[type="submit"],
.woocommerce-form-login p:last-child button[type="submit"],
.woocommerce-ResetPassword p:last-child input[type="submit"],
.woocommerce-ResetPassword p:last-child button[type="submit"],
form.woocommerce-checkout p:last-child input[type="submit"],
form.woocommerce-checkout p:last-child button[type="submit"] {
	margin-bottom: 0;
	margin-top: 15px;
}

@media (max-width: 575px) {
	.woocommerce-EditAccountForm p:last-child input[type="submit"],
	.woocommerce-EditAccountForm p:last-child button[type="submit"],
	.woocommerce-MyAccount-content form p:last-child input[type="submit"],
	.woocommerce-MyAccount-content form p:last-child button[type="submit"],
	.woocommerce-form-login p:last-child input[type="submit"],
	.woocommerce-form-login p:last-child button[type="submit"],
	.woocommerce-ResetPassword p:last-child input[type="submit"],
	.woocommerce-ResetPassword p:last-child button[type="submit"],
	form.woocommerce-checkout p:last-child input[type="submit"],
	form.woocommerce-checkout p:last-child button[type="submit"] {
		margin-top: 5px;
	}
}

.woocommerce-EditAccountForm p.form-row.notes,
.woocommerce-EditAccountForm p.form-row.validate-phone,
.woocommerce-EditAccountForm p.form-row.validate-email,
.woocommerce-MyAccount-content form p.form-row.notes,
.woocommerce-MyAccount-content form p.form-row.validate-phone,
.woocommerce-MyAccount-content form p.form-row.validate-email,
.woocommerce-form-login p.form-row.notes,
.woocommerce-form-login p.form-row.validate-phone,
.woocommerce-form-login p.form-row.validate-email,
.woocommerce-ResetPassword p.form-row.notes,
.woocommerce-ResetPassword p.form-row.validate-phone,
.woocommerce-ResetPassword p.form-row.validate-email,
form.woocommerce-checkout p.form-row.notes,
form.woocommerce-checkout p.form-row.validate-phone,
form.woocommerce-checkout p.form-row.validate-email {
	clear: both;
	width: 100%;
}

.woocommerce-EditAccountForm .select2-container--default .select2-selection--single,
.woocommerce-MyAccount-content form .select2-container--default .select2-selection--single,
.woocommerce-form-login .select2-container--default .select2-selection--single,
.woocommerce-ResetPassword .select2-container--default .select2-selection--single,
form.woocommerce-checkout .select2-container--default .select2-selection--single {
	-webkit-appearance: none;
	background-image: url(../img/select-arrow.png);
	background-position: 99% 50%;
	background-repeat: no-repeat;
	border: none;
	border-bottom: 1px solid #e1e0e0;
	border-radius: 0;
	height: 31px;
	line-height: 30px;
	padding: 0;
}

.woocommerce-EditAccountForm .select2-container--default .select2-selection--single .select2-selection__arrow,
.woocommerce-MyAccount-content form .select2-container--default .select2-selection--single .select2-selection__arrow,
.woocommerce-form-login .select2-container--default .select2-selection--single .select2-selection__arrow,
.woocommerce-ResetPassword .select2-container--default .select2-selection--single .select2-selection__arrow,
form.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}

.woocommerce-EditAccountForm .select2-container--default .select2-selection--single .select2-selection__rendered,
.woocommerce-MyAccount-content form .select2-container--default .select2-selection--single .select2-selection__rendered,
.woocommerce-form-login .select2-container--default .select2-selection--single .select2-selection__rendered,
.woocommerce-ResetPassword .select2-container--default .select2-selection--single .select2-selection__rendered,
form.woocommerce-checkout .select2-container--default .select2-selection--single .select2-selection__rendered {
	border-radius: 0;
	color: #3a3736;
	padding: 0;
}

.woocommerce-EditAccountForm .col2-set .col-1 .woocommerce-billing-fields:after,
.woocommerce-EditAccountForm .col2-set .col-2 .woocommerce-billing-fields:after,
.woocommerce-MyAccount-content form .col2-set .col-1 .woocommerce-billing-fields:after,
.woocommerce-MyAccount-content form .col2-set .col-2 .woocommerce-billing-fields:after,
.woocommerce-form-login .col2-set .col-1 .woocommerce-billing-fields:after,
.woocommerce-form-login .col2-set .col-2 .woocommerce-billing-fields:after,
.woocommerce-ResetPassword .col2-set .col-1 .woocommerce-billing-fields:after,
.woocommerce-ResetPassword .col2-set .col-2 .woocommerce-billing-fields:after,
form.woocommerce-checkout .col2-set .col-1 .woocommerce-billing-fields:after,
form.woocommerce-checkout .col2-set .col-2 .woocommerce-billing-fields:after {
	clear: both;
	content: "";
	display: block;
}

@media (max-width: 575px) {
	.woocommerce-EditAccountForm,
	.woocommerce-MyAccount-content form,
	.woocommerce-form-login,
	.woocommerce-ResetPassword,
	form.woocommerce-checkout {
		padding: 3.3rem 1.85rem 3.3rem;
	}
}

.woocommerce-EditAccountForm h3,
.woocommerce-MyAccount-content form h3,
.woocommerce-form-login h3,
.woocommerce-ResetPassword h3,
form.woocommerce-checkout h3 {
	font-size: 30px;
	margin-bottom: 30px;
}

.woocommerce-EditAccountForm fieldset,
.woocommerce-MyAccount-content form fieldset,
.woocommerce-form-login fieldset,
.woocommerce-ResetPassword fieldset,
form.woocommerce-checkout fieldset {
	margin-top: 50px;
}

.woocommerce-EditAccountForm legend,
.woocommerce-MyAccount-content form legend,
.woocommerce-form-login legend,
.woocommerce-ResetPassword legend,
form.woocommerce-checkout legend {
	color: #3a3736;
	display: inline-block;
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 30px;
	padding-top: 0;
}

.woocommerce-EditAccountForm select,
.woocommerce-MyAccount-content form select,
.woocommerce-form-login select,
.woocommerce-ResetPassword select,
form.woocommerce-checkout select {
	-webkit-appearance: none;
	background-image: url(../img/select-arrow.png);
	background-position: 97% 50%;
	background-repeat: no-repeat;
}

/*shop pagination*/
.woocommerce-pagination {
	text-align: center;
}

.woocommerce-pagination ul.page-numbers {
	align-items: center;
	display: flex;
	justify-content: center;
	list-style: none;
	margin-top: 35px;
	padding: 0;
}

.woocommerce-pagination ul.page-numbers li {
	display: flex;
}

.woocommerce-pagination ul.page-numbers span,
.woocommerce-pagination ul.page-numbers a {
	background-color: #fff;
	border: 2px solid #f5f5f5;
	color: #3a3736;
	display: inline-block;
	font-weight: 300;
	height: 40px;
	letter-spacing: 0;
	line-height: 1;
	margin-left: 0;
	margin-right: 10px;
	min-width: 40px;
	padding: 0.6em 0.4em 0.6em;
	text-align: center;
}

.woocommerce-pagination ul.page-numbers span:hover,
.woocommerce-pagination ul.page-numbers a:hover {
	background-color: #5ebd39;
	border-color: #5ebd39;
}

.woocommerce-pagination ul.page-numbers span.next,
.woocommerce-pagination ul.page-numbers span.prev,
.woocommerce-pagination ul.page-numbers a.next,
.woocommerce-pagination ul.page-numbers a.prev {
	align-items: center;
	border-color: #5ebd39;
	color: #5ebd39;
	display: flex;
	font-size: 0;
	justify-content: center;
	line-height: 1;
	position: relative;
}

.woocommerce-pagination ul.page-numbers span.next:hover,
.woocommerce-pagination ul.page-numbers span.prev:hover,
.woocommerce-pagination ul.page-numbers a.next:hover,
.woocommerce-pagination ul.page-numbers a.prev:hover {
	background: #5ebd39;
	color: #3a3736;
}

.woocommerce-pagination ul.page-numbers span.prev:before,
.woocommerce-pagination ul.page-numbers a.prev:before {
	content: "\f104";
	font-family: "FontAwesome";
	font-size: 16px;
	line-height: 1;
	position: absolute;
}

.woocommerce-pagination ul.page-numbers span.next:before,
.woocommerce-pagination ul.page-numbers a.next:before {
	content: "\f105";
	font-family: "FontAwesome";
	font-size: 16px;
	line-height: 1;
	position: absolute;
}

.woocommerce-pagination ul.page-numbers span {
	background-color: #5ebd39;
	border-color: #5ebd39;
	cursor: not-allowed;
}

/*single product*/
.product .flex-control-nav {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.product .woocommerce-product-gallery .flex-control-nav li {
	background-color: #f5f5f5;
	width: 24%;
}

.product .woocommerce-product-gallery .flex-control-nav li + li {
	margin-left: 5px;
}

.product .images {
	margin-bottom: 60px;
}

.product .images .flex-direction-nav {
	display: none;
}

@media (max-width: 768px) {
	.product .images {
		margin-bottom: 30px;
	}
}

.product .images figure {
	background-color: #f5f5f5;
	margin-bottom: 0;
	max-width: none;
}

.product .images .woocommerce-product-gallery__image {
	background-color: #f5f5f5;
}

@media (min-width: 992px) {
	.product .images {
		float: left;
		width: 50%;
	}
}

.product .summary {
	display: flex;
	flex-direction: column;
	margin-bottom: 4em;
	position: relative;
}

@media (max-width: 575px) {
	.product .summary {
		margin-bottom: 30px;
	}
}

.product .summary:after {
	clear: both;
	content: "";
	display: block;
}

@media (min-width: 992px) {
	.product .summary {
		float: right;
		width: 47%;
	}
}

.product .summary .woocommerce-grouped-product-list {
	margin-bottom: 1.5em;
}

.product .summary .woocommerce-grouped-product-list tr + tr td {
	padding-top: 20px;
}

@media (max-width: 1200px) and (min-width: 992px) {
	.product .summary .woocommerce-grouped-product-list tr + tr td {
		padding-top: 0;
	}
}

@media (max-width: 1200px) and (min-width: 992px) {
	.product .summary .woocommerce-grouped-product-list .woocommerce-grouped-product-list-item {
		display: flex;
		flex-direction: column;
	}
}

@media (max-width: 575px) {
	.product .summary .woocommerce-grouped-product-list .woocommerce-grouped-product-list-item {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.product .summary .woocommerce-grouped-product-list td {
	border: none;
	padding: 0;
}

@media (max-width: 1200px) and (min-width: 992px) {
	.product .summary .woocommerce-grouped-product-list td {
		margin-bottom: 10px;
	}
}

@media (max-width: 575px) {
	.product .summary .woocommerce-grouped-product-list td {
		margin-bottom: 10px;
	}
}

.product .summary .woocommerce-grouped-product-list td.woocommerce-grouped-product-list-item__label label {
	display: block !important;
	font-size: 16px;
	margin-bottom: 0;
	padding: 0 15px;
}

@media (max-width: 1200px) and (min-width: 992px) {
	.product .summary .woocommerce-grouped-product-list td.woocommerce-grouped-product-list-item__label label {
		padding-left: 0;
	}
}

.product .summary .entry-title {
	font-size: 24px;
	letter-spacing: -0.3px;
	line-height: 1;
}

.product .summary .woocommerce-product-rating {
	line-height: 1;
	position: relative;
}

.product .summary .woocommerce-product-rating .star-rating {
	margin-bottom: 1;
	margin-top: 0;
}

.product .summary .woocommerce-product-details__short-description {
	margin-bottom: 1.5em;
}

.product .summary form {
	order: 21;
}

.product .summary form .quantity {
	margin-right: 10px;
	position: relative;
}

.product .summary form button.button {
	white-space: pre-wrap;
}

.product .summary form .add-to-cart {
	display: flex;
}

.product .summary form button:not(.minus):not(.plus) {
	border-radius: 0;
	line-height: 1;
	margin-bottom: 0;
	padding: 15px 25px;
	width: auto;
}

.product .summary .price {
	order: 20;
}

.product .summary .woocommerce-review-link {
	display: inline-block;
	margin: 20px 0;
}

.product .summary .variations {
	margin: 1.5em 0;
}

.product .summary .variations tr {
	border: none;
	display: block;
	margin-bottom: 1em;
	text-align: left;
}

.product .summary .variations td {
	border: none;
	display: block;
	padding: 0;
	text-align: left;
}

.product .summary .variations td select {
	width: 85%;
}

@media (max-width: 768px) {
	.product .summary .variations td select {
		width: 100%;
	}
}

.product .summary .variations label {
	color: #3a3736;
}

.product .summary .variations label:after {
	content: ":";
}

.product .summary .variations .reset_variations {
	background-color: #5ebd39;
	border: 2px solid #5ebd39;
	color: #3a3736;
	display: inline-block !important;
	font-weight: 400;
	margin-bottom: -10px;
	margin-top: 30px;
	max-width: 150px;
	padding: 12px 35px;
	position: relative;
	text-align: center;
	white-space: nowrap;
}

.product .summary .variations .reset_variations[style="visibility: hidden;"] {
	display: none !important;
}

.product .summary .variations .reset_variations[style="visibility: hidden; display: none;"] {
	display: none !important;
}

.product .summary .variations .reset_variations:hover {
	background-color: transparent;
}

.product .summary .single_variation_wrap {
	margin-top: 30px;
}

.product .summary .single_variation_wrap .woocommerce-variation-description {
	margin-bottom: 30px;
}

@media (max-width: 575px) {
	.product .summary .single_variation_wrap .woocommerce-variation-description {
		text-align: center;
	}
}

.product .summary .single_variation_wrap > div {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
}

.product .summary .quantity {
	display: inline-block;
	position: relative;
}

.product .summary .quantity [type='number'] {
	-moz-appearance: textfield;
	background-color: #f5f5f5;
	border: none;
	border-radius: 0;
	color: #3a3736;
	height: 50px;
	line-height: 30px;
	max-width: 5em;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.product .summary .quantity [type='number']::-webkit-inner-spin-button,
.product .summary .quantity [type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.product .summary .product_meta {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;
}

.product .summary .product_meta span {
	color: #3a3736;
	font-weight: 600;
}

.product .summary .product_meta span span,
.product .summary .product_meta span a {
	font-weight: 300;
}

.shop_attributes th {
	font-weight: 600;
}

/*shop tabs*/
.woocommerce-tabs {
	clear: both;
	margin: 60px 0 0;
}

@media (max-width: 575px) {
	.woocommerce-tabs {
		margin: 30px 0 0;
	}
}

.woocommerce-tabs ul.tabs {
	list-style: none;
	margin-bottom: 0;
	margin-bottom: -1px;
	padding: 0;
}

.woocommerce-tabs ul.tabs li + li {
	border-top: none;
}

.woocommerce-tabs ul.tabs li {
	display: block;
	padding: 0;
	padding-bottom: 0;
	position: relative;
}

.woocommerce-tabs ul.tabs li.active a {
	background: #5ebd39;
	border-color: #5ebd39;
	color: #fff;
}

.woocommerce-tabs ul.tabs li a {
	background: transparent;
	border: 1px solid #e1e0e0;
	border-radius: 0;
	color: #3a3736;
	display: inline-block;
	font-size: 16px;
	line-height: 1;
	margin-right: 4px;
	padding: 22px 42px;
	text-align: center;
	text-transform: capitalize;
}

@media (max-width: 1300px) {
	.woocommerce-tabs ul.tabs li a {
		min-width: 90px;
		padding: 22px 20px;
	}
}

@media (max-width: 991px) {
	.woocommerce-tabs ul.tabs li a {
		min-width: 90px;
		padding: 22px 20px;
	}
}

@media (max-width: 575px) {
	.woocommerce-tabs ul.tabs li a {
		width: 100%;
	}
}

.woocommerce-tabs ul.tabs li a:hover {
	background: #5ebd39;
	border-color: #5ebd39;
	color: #fff;
}

.woocommerce-tabs .panel {
	border: 1px solid #e1e0e0;
	box-shadow: none;
	padding: 40px;
}

@media (max-width: 575px) {
	.woocommerce-tabs .panel {
		padding: 30px;
	}
}

.woocommerce-tabs .panel h2 {
	font-size: 24px;
	line-height: 1;
	margin-bottom: 1em;
}

@media (min-width: 575px) {
	.woocommerce-tabs ul.tabs {
		align-items: flex-end;
		display: flex;
	}

	.woocommerce-tabs ul.tabs li a {
		margin-bottom: 0;
	}
}

/*reviews*/
.commentlist {
	list-style: none;
	padding: 0;
}

.comment_container {
	margin-bottom: 30px;
	margin-left: 50px;
	padding: 0 30px 0px;
	position: relative;
}

@media (max-width: 575px) {
	.comment_container {
		margin-left: 0;
		padding: 0;
	}
}

.comment_container > img {
	left: -50px;
	max-width: 50px;
	position: absolute;
	top: -1px;
}

@media (max-width: 575px) {
	.comment_container > img {
		position: static;
	}
}

.comment_container .meta {
	color: #251b19;
	font-size: 14px;
	font-weight: 500;
	font-weight: 700;
	line-height: 1.3;
	margin-bottom: 0.5em;
	margin-right: 90px;
	text-transform: capitalize;
}

@media (max-width: 575px) {
	.comment_container .meta {
		margin-right: 0;
	}
}

.comment_container .meta strong {
	font-weight: inherit;
}

.comment_container .star-rating {
	float: right;
}

@media (max-width: 575px) {
	.comment_container .star-rating {
		float: none;
		margin: 10px 0 5px;
	}
}

.comment-form-rating {
	width: 100%;
}

#tab-reviews .comment-respond {
	border: none;
	padding: 0;
}

#tab-reviews .form-submit {
	margin-top: 10px;
	width: auto;
}

@media (max-width: 575px) {
	#tab-reviews .form-submit {
		margin-top: 10px;
	}
}

#tab-reviews textarea {
	height: 200px;
}

.related > h2,
.upsells > h2,
.cross-sells > h2 {
	display: inline-block;
	font-size: 30px;
	text-align: left;
	width: 100%;
}

@media (max-width: 575px) {
	.related > h2,
	.upsells > h2,
	.cross-sells > h2 {
		text-align: center;
	}
}

.related.products,
.related .products,
.upsells.products,
.upsells .products,
.cross-sells.products,
.cross-sells .products {
	display: block;
	margin: 0 !important;
}

.related.products.related,
.related.products.upsells,
.related.products.cross-sells,
.related .products.related,
.related .products.upsells,
.related .products.cross-sells,
.upsells.products.related,
.upsells.products.upsells,
.upsells.products.cross-sells,
.upsells .products.related,
.upsells .products.upsells,
.upsells .products.cross-sells,
.cross-sells.products.related,
.cross-sells.products.upsells,
.cross-sells.products.cross-sells,
.cross-sells .products.related,
.cross-sells .products.upsells,
.cross-sells .products.cross-sells {
	margin-top: 60px !important;
}

@media (max-width: 575px) {
	.related.products.related,
	.related.products.upsells,
	.related.products.cross-sells,
	.related .products.related,
	.related .products.upsells,
	.related .products.cross-sells,
	.upsells.products.related,
	.upsells.products.upsells,
	.upsells.products.cross-sells,
	.upsells .products.related,
	.upsells .products.upsells,
	.upsells .products.cross-sells,
	.cross-sells.products.related,
	.cross-sells.products.upsells,
	.cross-sells.products.cross-sells,
	.cross-sells .products.related,
	.cross-sells .products.upsells,
	.cross-sells .products.cross-sells {
		margin-top: 40px !important;
	}
}

.related.products .owl-stage-outer,
.related .products .owl-stage-outer,
.upsells.products .owl-stage-outer,
.upsells .products .owl-stage-outer,
.cross-sells.products .owl-stage-outer,
.cross-sells .products .owl-stage-outer {
	margin-bottom: -7px;
	margin-left: -20px;
	margin-right: -20px;
	padding-left: 20px;
	padding-right: 20px;
}

.related.products .owl-stage-outer .owl-stage,
.related .products .owl-stage-outer .owl-stage,
.upsells.products .owl-stage-outer .owl-stage,
.upsells .products .owl-stage-outer .owl-stage,
.cross-sells.products .owl-stage-outer .owl-stage,
.cross-sells .products .owl-stage-outer .owl-stage {
	margin-bottom: 20px;
}

.related.products .product,
.related .products .product,
.upsells.products .product,
.upsells .products .product,
.cross-sells.products .product,
.cross-sells .products .product {
	margin-bottom: 0;
	padding: 0;
	width: 100%;
}

.related .cart_totals,
.upsells .cart_totals,
.cross-sells .cart_totals {
	margin-bottom: 110px;
	text-align: left;
	width: 100%;
}

@media (max-width: 575px) {
	.related .cart_totals,
	.upsells .cart_totals,
	.cross-sells .cart_totals {
		margin-bottom: 60px;
	}
}

.related .cart_totals table,
.upsells .cart_totals table,
.cross-sells .cart_totals table {
	margin-bottom: 45px;
}

.related .cart_totals h2,
.upsells .cart_totals h2,
.cross-sells .cart_totals h2 {
	font-size: 30px;
	letter-spacing: -0.3px;
	text-transform: capitalize;
}

.related .cart_totals td[data-title='Total'],
.related .cart_totals td[data-title='Subtotal'],
.upsells .cart_totals td[data-title='Total'],
.upsells .cart_totals td[data-title='Subtotal'],
.cross-sells .cart_totals td[data-title='Total'],
.cross-sells .cart_totals td[data-title='Subtotal'] {
	text-align: right;
}

.related .cart_totals th,
.related .cart_totals tr,
.upsells .cart_totals th,
.upsells .cart_totals tr,
.cross-sells .cart_totals th,
.cross-sells .cart_totals tr {
	padding: 13px 0px;
}

.related .cart_totals th,
.upsells .cart_totals th,
.cross-sells .cart_totals th {
	font-size: 16px;
	line-height: 1;
}

.related .cart_totals td:last-child,
.upsells .cart_totals td:last-child,
.cross-sells .cart_totals td:last-child {
	border-bottom: 1px solid #e1e0e0;
}

.related .cart_totals .wc-proceed-to-checkout .button,
.upsells .cart_totals .wc-proceed-to-checkout .button,
.cross-sells .cart_totals .wc-proceed-to-checkout .button {
	padding: 17px 35px;
}

.shop_table.customer_details td[data-title='Total'],
.shop_table.customer_details td[data-title='Subtotal'],
.shop_table.order_details td[data-title='Total'],
.shop_table.order_details td[data-title='Subtotal'] {
	text-align: right;
}

.shop_table.customer_details th,
.shop_table.customer_details tr,
.shop_table.order_details th,
.shop_table.order_details tr {
	padding: 13px 0px;
}

.shop_table.customer_details th,
.shop_table.order_details th {
	font-size: 20px;
	line-height: 1;
}

.shop_table.customer_details td:last-child,
.shop_table.customer_details tr:last-child td,
.shop_table.order_details td:last-child,
.shop_table.order_details tr:last-child td {
	border-bottom: 1px solid #e1e0e0;
}

/*shop widgets*/
.widget_shopping_cart ul,
.widget_products ul,
.widget_recently_viewed_products ul,
.widget_recent_reviews ul,
.widget_top_rated_products ul {
	list-style: none;
	margin: 0;
	margin-top: -30px;
	padding: 0;
}

.widget_shopping_cart ul li,
.widget_products ul li,
.widget_recently_viewed_products ul li,
.widget_recent_reviews ul li,
.widget_top_rated_products ul li {
	border-bottom: 1px solid #e1e0e0;
	min-height: 160px;
	padding: 40px 40px 40px 120px !important;
	position: relative;
	white-space: normal;
}

.widget_shopping_cart ul li a > img,
.widget_products ul li a > img,
.widget_recently_viewed_products ul li a > img,
.widget_recent_reviews ul li a > img,
.widget_top_rated_products ul li a > img {
	left: 0;
	max-width: 100px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.widget_shopping_cart .product-title,
.widget_shopping_cart .minicart-product-meta a,
.widget_products .product-title,
.widget_products .minicart-product-meta a,
.widget_recently_viewed_products .product-title,
.widget_recently_viewed_products .minicart-product-meta a,
.widget_recent_reviews .product-title,
.widget_recent_reviews .minicart-product-meta a,
.widget_top_rated_products .product-title,
.widget_top_rated_products .minicart-product-meta a {
	display: block;
	font-family: "Fira Sans Condensed", sans-serif;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}

.widget_shopping_cart .amount,
.widget_products .amount,
.widget_recently_viewed_products .amount,
.widget_recent_reviews .amount,
.widget_top_rated_products .amount {
	font-size: 16px;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons a.button,
.widget_products .woocommerce-mini-cart__buttons a.button,
.widget_recently_viewed_products .woocommerce-mini-cart__buttons a.button,
.widget_recent_reviews .woocommerce-mini-cart__buttons a.button,
.widget_top_rated_products .woocommerce-mini-cart__buttons a.button {
	border: 2px solid #5ebd39;
	color: #fff;
	display: inline-block;
	font-weight: 500;
	line-height: 1;
	padding: 10px 20px;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons a.button:hover,
.widget_products .woocommerce-mini-cart__buttons a.button:hover,
.widget_recently_viewed_products .woocommerce-mini-cart__buttons a.button:hover,
.widget_recent_reviews .woocommerce-mini-cart__buttons a.button:hover,
.widget_top_rated_products .woocommerce-mini-cart__buttons a.button:hover {
	color: #3a3736 !important;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons a.button:last-child,
.widget_products .woocommerce-mini-cart__buttons a.button:last-child,
.widget_recently_viewed_products .woocommerce-mini-cart__buttons a.button:last-child,
.widget_recent_reviews .woocommerce-mini-cart__buttons a.button:last-child,
.widget_top_rated_products .woocommerce-mini-cart__buttons a.button:last-child {
	color: #3a3736;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons a.button:last-child:hover,
.widget_products .woocommerce-mini-cart__buttons a.button:last-child:hover,
.widget_recently_viewed_products .woocommerce-mini-cart__buttons a.button:last-child:hover,
.widget_recent_reviews .woocommerce-mini-cart__buttons a.button:last-child:hover,
.widget_top_rated_products .woocommerce-mini-cart__buttons a.button:last-child:hover {
	background-color: #5ebd39;
	color: #fff !important;
}

.widget_recent_reviews a {
	display: block;
	font-size: 16px;
	font-weight: 600;
}

.widget_price_filter .price_slider {
	margin-bottom: 1em;
}

.widget_price_filter .price_slider_amount {
	align-items: flex-start;
	display: flex;
	flex-direction: column-reverse;
	margin-top: 1em;
	text-align: right;
}

.widget_price_filter .price_slider_amount .button {
	background-color: #5ebd39;
	border: 2px solid #5ebd39;
	border-radius: 0;
	float: left;
	line-height: 1;
	margin-top: 15px;
	min-width: 150px;
	padding: 10px 35px;
	position: static;
}

.widget_price_filter .price_slider_amount .button:hover {
	background-color: transparent;
}

.widget_price_filter .ui-slider {
	position: relative;
	text-align: left;
}

.widget_price_filter .ui-slider .ui-slider-handle {
	background: #5ebd39;
	border-radius: 50%;
	box-sizing: border-box;
	cursor: ew-resize;
	height: 0.7em;
	margin-top: -.2em;
	opacity: 1;
	outline: none;
	position: absolute;
	width: 0.7em;
	z-index: 2;
}

.widget_price_filter .ui-slider .ui-slider-handle:last-child {
	margin-left: -2px;
}

.widget_price_filter .ui-slider .ui-slider-handle:hover,
.widget_price_filter .ui-slider .ui-slider-handle.ui-state-active {
	box-shadow: 0 0 0 0.236em rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider .ui-slider-range {
	background: #5ebd39;
	border: 0;
	display: block;
	font-size: .7em;
	position: absolute;
	z-index: 1;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
	background: rgba(0, 0, 0, 0.1);
}

.widget_price_filter .ui-slider-horizontal {
	height: .3em;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
	height: 100%;
	top: 0;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
	left: -1px;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
	right: -1px;
}

.widget_shopping_cart .woocommerce-mini-cart {
	margin-bottom: 30px;
}

@media (max-width: 575px) {
	.widget_shopping_cart .woocommerce-mini-cart__buttons a {
		min-width: 100px;
		padding: 10px 20px;
	}
}

.widget_shopping_cart .woocommerce-mini-cart__buttons a:first-child {
	background-color: #5ebd39;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons a:first-child:hover {
	background-color: transparent;
}

.widget_shopping_cart .woocommerce-mini-cart__buttons a + a {
	margin-left: 5px;
}

.widget_shopping_cart li a {
	display: block;
	font-family: "Fira Sans Condensed", sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.widget_shopping_cart li .minicart-product-meta {
	display: flex;
	flex-direction: column;
}

.widget_shopping_cart li .remove {
	font-size: 0;
	position: absolute;
	right: 15px;
	top: 35px;
}

.widget_shopping_cart li .remove:before {
	bottom: 0;
	content: "\f014";
	font-family: "FontAwesome";
	font-size: 16px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.dropdown_product_cat,
.dropdown_layered_nav_color {
	-webkit-appearance: none;
	background-color: #f1f5f3;
	background-image: url(../img/select-arrow.png);
	background-position: 91.4% 50%;
	background-repeat: no-repeat;
	border: none;
	height: 60px;
	max-width: 370px;
	padding: 0 30px;
	width: 100%;
}

.widget_product_tag_cloud a {
	border: 1px solid #e1e0e0;
	border-radius: 0;
	color: #686665;
	display: inline-block;
	font-size: 16px !important;
	font-weight: 400;
	letter-spacing: 0;
	margin: 0 6px 10px 0;
	padding: 7px 25px;
	text-align: center;
	text-transform: capitalize;
}

.widget_product_tag_cloud a:last-child {
	margin: 0;
}

.widget_product_tag_cloud a:hover {
	background-color: #5ebd39;
	border-color: #5ebd39;
	color: #3a3736;
}

.woocommerce-MyAccount-navigation ul,
.widget_layered_nav ul,
.widget_layered_nav_filters ul,
.widget_product_categories ul {
	list-style: none;
	padding: 0;
	width: 100%;
}

.woocommerce-MyAccount-navigation ul ul li,
.widget_layered_nav ul ul li,
.widget_layered_nav_filters ul ul li,
.widget_product_categories ul ul li {
	padding-left: 20px;
}

.woocommerce-MyAccount-navigation ul ul li:last-child,
.widget_layered_nav ul ul li:last-child,
.widget_layered_nav_filters ul ul li:last-child,
.widget_product_categories ul ul li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.woocommerce-MyAccount-navigation li,
.widget_layered_nav li,
.widget_layered_nav_filters li,
.widget_product_categories li {
	align-items: center;
	border-bottom: 1px solid #e1e0e0;
	border-top: 1px solid #e1e0e0;
	display: flex;
	flex-wrap: wrap;
}

.woocommerce-MyAccount-navigation li > a,
.widget_layered_nav li > a,
.widget_layered_nav_filters li > a,
.widget_product_categories li > a {
	color: #686665;
	display: inline-block;
	flex-grow: 10;
	padding-bottom: 8px;
	padding-top: 8px;
	position: relative;
}

.woocommerce-MyAccount-navigation li:before,
.widget_layered_nav li:before,
.widget_layered_nav_filters li:before,
.widget_product_categories li:before {
	color: #3a3736;
	content: "\f111";
	display: inline-block;
	font-family: "FontAwesome";
	font-size: 5px;
	left: 0;
	padding-right: 15px;
	position: relative;
	top: -3px;
}

.woocommerce-MyAccount-navigation li.is-active,
.widget_layered_nav li.is-active,
.widget_layered_nav_filters li.is-active,
.widget_product_categories li.is-active {
	font-weight: 700;
}

.woocommerce-MyAccount-navigation li + li,
.widget_layered_nav li + li,
.widget_layered_nav_filters li + li,
.widget_product_categories li + li {
	border-top: none;
}

/*shopping cart*/
.shop_table {
	margin-top: 0;
}

.shop_table .quantity {
	position: relative;
	width: 80px;
}

.shop_table [type='number'] {
	-moz-appearance: textfield;
	background-color: #f5f5f5;
	border: none;
	border-radius: 0;
	color: #3a3736;
	height: 50px;
	line-height: 30px;
	max-width: 5em;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.shop_table [type='number']::-webkit-inner-spin-button,
.shop_table [type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.shop_table .button {
	margin-top: 0 !important;
	padding: 15px 35px !important;
}

.shop_table .amount {
	font-size: 16px;
}

.shop_table th {
	border: none;
	border-bottom: 1px solid #e1e0e0;
	font-family: "Fira Sans Condensed", sans-serif;
	font-size: 20px;
	text-align: left;
}

.shop_table tr,
.shop_table td {
	border: none;
	border-bottom: 1px solid #e1e0e0;
}

.shop_table tr {
	border-bottom: 0;
}

.shop_table .remove {
	color: #5ebd39;
	font-size: 0;
	line-height: 0.75;
	position: relative;
}

.shop_table .remove:before {
	bottom: 0;
	content: "\f014";
	font-family: "FontAwesome";
	font-size: 16px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.shop_table .product-thumbnail img {
	max-width: 100px;
}

.shop_table .actions {
	border-bottom: none !important;
	padding-left: 0;
	padding-right: 0;
	padding-top: 2.4em;
	text-align: right;
}

.shop_table .coupon {
	display: flex;
	float: left;
}

@media (max-width: 1199px) {
	.shop_table .coupon {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		flex-shrink: 0;
	}
}

.shop_table .coupon label {
	display: none;
}

.shop_table .coupon [type="text"] {
	margin-right: 7px;
	width: 250px;
}

.shop_table .coupon [type="submit"] {
	margin-bottom: 0;
	margin-top: 0;
	padding: 10px 35px;
}

@media (max-width: 1199px) {
	.shop_table .coupon [type="submit"] {
		margin-top: 20px !important;
	}
}

.shop_table .coupon + .button {
	background: transparent;
	border: 3px solid #5ebd39;
	color: #251b19;
	margin-bottom: 0;
	padding: 10px 35px;
	position: static;
}

@media (max-width: 991px) {
	.shop_table {
		display: block;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		overflow-x: auto;
		width: 100%;
	}
}

.cart-collaterals {
	box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.1);
	clear: both;
	display: flex;
	flex-direction: column;
	margin-top: 3em;
	padding: 60px;
}

@media (max-width: 575px) {
	.cart-collaterals {
		padding: 30px;
	}
}

.cart-collaterals h2 {
	font-size: 30px;
}

.cart-collaterals .cart_totals {
	order: -1;
}

.cart-collaterals .cart_totals table {
	display: table;
}

@media (max-width: 575px) {
	.cart-collaterals .cart_totals {
		width: 100%;
	}
}

.cart-collaterals .cart_totals .wc-forward {
	border: 2px solid #5ebd39;
	color: #3a3736;
	display: inline-block;
	font-weight: 500;
	line-height: 1;
	margin-top: 30px;
	padding: 15px 35px;
}

.cart-collaterals .cart_totals .wc-forward:hover {
	background: #5ebd39;
}

.cart-collaterals .cart_totals .shipping-calculator-button {
	border: 2px solid #5ebd39;
	color: #3a3736;
	display: inline-block;
	font-weight: 400;
	line-height: 1 !important;
	padding: 10px 35px;
}

.cart-collaterals .cart_totals .shipping-calculator-button:hover {
	background-color: #5ebd39;
}

.cart-collaterals .cart_totals .select2-container--default .select2-selection--single {
	-webkit-appearance: none;
	background-color: #f5f5f5;
	background-image: url(../img/select-arrow.png);
	background-position: 97% 50%;
	background-repeat: no-repeat;
	border: none;
	height: 52px;
	line-height: 30px;
	padding: 11px 13px;
}

.cart-collaterals .cart_totals .select2-container--default .select2-selection--single .select2-selection__arrow {
	display: none;
}

.cart-collaterals .cart_totals .shipping-calculator-form {
	margin-top: 30px;
}

.cart-collaterals .cart_totals .woocommerce-shipping-methods {
	padding-left: 0;
}

.cart-collaterals .cart_totals .woocommerce-shipping-methods label {
	display: inline-block !important;
}

.cart-collaterals .cart_totals .woocommerce-shipping-methods li {
	list-style-type: none;
	padding-left: 0;
}

.cart-collaterals .wc-proceed-to-checkout {
	margin-top: 2em;
}

.woocommerce-shipping-fields .shipping_address {
	margin-bottom: 20px;
}

.woocommerce-shipping-fields .woocommerce-form__label-for-checkbox span {
	color: #3a3736;
	font-weight: 600;
}

.woocommerce-shipping-totals ul {
	padding-left: 0;
}

.woocommerce-shipping-totals ul li {
	list-style-type: none;
}

.woocommerce-shipping-totals ul li label {
	color: #3a3736;
}

.woocommerce-shipping-totals ul li .amount {
	display: inline-block;
	margin-top: 20px;
}

/*shop checkout*/
.checkout:before,
.checkout:after {
	clear: both;
	content: "";
	display: block;
}

.woocommerce-NoticeGroup {
	margin-bottom: 30px;
}

.col2-set {
	margin: 0 -15px;
}

@media (max-width: 991px) {
	.col2-set {
		margin-bottom: 30px;
	}
}

.col2-set .col-1,
.col2-set .col-2 {
	max-width: none;
}

.col2-set .col-2 {
	margin-top: 40px;
}

@media (min-width: 992px) {
	.col2-set#customer_details {
		flex-direction: column;
		float: left;
		width: 65%;
	}

	.col2-set ~ #order_review_heading,
	.col2-set ~ #order_review {
		float: right;
		margin-top: 0;
		width: 32%;
	}
}

td.product-remove {
	max-width: 50px;
	width: 50px;
}

td.product-name {
	color: #3a3736;
	font-weight: 500;
	padding: 20px 30px 20px 10px;
	width: 660px;
}

td.product-name .variation {
	display: flex;
	margin: 20px 0 0;
}

td.product-name .variation dd {
	margin: 0 0 0 10px;
}

td.product-name a {
	font-size: 16px;
}

#payment ul {
	list-style: none;
	margin: 1em 0;
	padding-left: 0;
}

#payment [type="radio"] {
	margin-left: -10px;
	opacity: 0;
}

#payment label {
	margin-bottom: 0;
}

.wc_payment_method .payment_box {
	background-color: rgba(150, 150, 150, 0.05);
	margin-top: 0.8em;
	padding: 0.8em 1em;
}

.place-order.form-row {
	display: block;
	margin: 1.2em 0;
}

p.form-row {
	display: block;
	margin-bottom: 1.5em;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
}

p.form-row label {
	display: none;
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 12px;
}

@media (min-width: 992px) {
	p.form-row.form-row-first {
		float: left;
		width: 100%;
	}

	p.form-row.form-row-last {
		float: left;
		width: 100%;
	}
}

p.form-row.notes,
p.form-row.form-row-wide {
	clear: both;
	width: 100%;
}

p.form-row.notes span,
p.form-row.form-row-wide span {
	display: inherit;
}

.woocommerce-info + .checkout_coupon,
.woocommerce-info + .login {
	display: none;
	width: 100% !important;
}

.lost_reset_password p.form-row.form-row-first {
	margin-right: 0;
	width: 100%;
}

.lost_reset_password,
form.login {
	margin: 0 auto;
}

@media (min-width: 992px) {
	.lost_reset_password,
	form.login {
		margin: 0 auto;
		width: 50%;
	}
}

.lost_reset_password .button,
form.login .button {
	margin-bottom: 0;
	margin-top: 15px;
	white-space: pre-wrap;
}

@media (max-width: 575px) {
	.lost_reset_password .button,
	form.login .button {
		margin-top: 5px;
	}
}

/*shop account subpages*/
.woocommerce-MyAccount-navigation {
	margin-bottom: 10px;
}

@media (max-width: 768px) {
	.woocommerce-MyAccount-navigation {
		margin-bottom: 3em;
	}
}

@media (min-width: 768px) {
	.woocommerce-MyAccount-navigation {
		float: right;
		padding-left: 60px;
		width: 30%;
	}

	.woocommerce-MyAccount-content {
		float: left;
		width: 70%;
	}
}

/*
order details
*/
.woocommerce-order-details {
	margin-top: 2.5em;
}

.woocommerce-order-details h2 {
	font-size: 30px;
	font-weight: 600;
}

.woocommerce-customer-details {
	margin-top: 3.5em;
}

.woocommerce-customer-details h3 {
	font-size: 30px;
	font-weight: 600;
	margin-top: 1em;
}

ul.wc-item-downloads {
	margin: 0.5em 0;
}

ul.wc-item-downloads li {
	list-style: none;
}

.order-again {
	margin-top: 2em;
}

.shop_table.woocommerce-checkout-review-order-table {
	margin-bottom: 1.5em;
}

.woocommerce-terms-and-conditions-wrapper {
	margin-bottom: 1.5em;
}

.wcppec-checkout-buttons {
	margin-top: 0;
}

.dom-ready .paypal-button[data-funding-source=paypal] .paypal-button-text:not(.personalization-text):not(.hidden) {
	font-size: 0 !important;
}

.wcppec-checkout-buttons {
	text-align: left;
}

.wcppec-checkout-buttons .wcppec-checkout-buttons__button {
	padding-top: 0;
}

@media (min-width: 1200px) {
	.woocommerce .col-xl-8 {
		flex: 0 0 75%;
		max-width: 75%;
	}

	.woocommerce .col-xl-4 {
		flex: 0 0 25%;
		max-width: 25%;
	}
}

.product-template-default .woocommerce-notices-wrapper {
	margin-left: 30px;
	margin-right: 30px;
}

.woocommerce-variation-price {
	margin-bottom: 30px;
}

@media (max-width: 575px) {
	.woocommerce-variation-price {
		display: inline-block;
		text-align: center;
		width: 100%;
	}
}
