//color schemes
//1
$styleNumber: '';

$colorMain: #f15201;
$colorMain2: #f1d201;
$colorMain3: #5ebd39;
$colorMain4: #238ee9;
//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #4db19e;
//blue
$colorInfo: #007ebd;
//orange
$colorWarning: #eeb269;
//red
$colorDanger: #dc5753;