//color schemes
//3
$styleNumber: '3';
$colorMain: #5ebd39;
$colorMain2: #f1d201;
$colorMain3: #f15201;
$colorMain4: #238ee9;


//////bootstrap colors
//orange - warning

$colorPrimary: $colorMain;
//green
$colorSuccess: #5BB75B;
//blue
$colorInfo: #006DCC;
//orange
$colorWarning: #FAA732;
//red
$colorDanger: #DA4F49;